<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/NgoNgocTan_CV/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>My CV</title>
</head>

<body>
    <div id="container">
        <div id="header">
            <div class="left-part">
                <div class="avatar">
                    <img src="/NgoNgocTan_CV/assets/img/unnamed.png" alt="avatar">
                </div>
            </div>
            <div class="right-part">
                <div class="fullname">
                    <h1>NGUYEN VAN LINH</h1>
                </div>
                <hr>
                <div class="job-title">
                    <h3>Back-end Developer Intern</h3>
                </div>
            </div>
        </div>
        <div id="main-body">
            <div class="left-part">
                <div class="contact">
                    <h3 class="title">CONTACT</h3>
                    <p><i class="fa-solid fa-envelope icon"></i>vanlinh4677@gmail.com</p>
                    <p><i class="fa-solid fa-phone icon"></i>+84 918 809 264</p>
                    <p><i class="fa-brands fa-github icon"></i>Tannngoc</p>
                    <p><i class="fa-solid fa-location-dot icon"></i>185 Pham Van Dong Street, An Hai Bac, Son Tra
                        district, Da Nang City, Vietnam</p>
                </div>
                <div class="skills">
                    <h3 class="title">SKILLS</h3>
                    <ul>
                        <li>Programming languages: Java, Python, C#, Javascipt,...</li>
                        <li>Framework: Spring Boot, Spring MVC, JPA, Flask,...</li>
                        <li>Database: SQL Server, mySQL, MongoDB,...</li>
                        <li>Version Control: Git, gitHub, gitLab</li>
                        <li>Tools: Docker, Trello, Slack,...</li>
                        <li>Others: AI, Machine Learning,...</li>
                    </ul>
                </div>
                <div class="languages">
                    <h3 class="title">LANGUAGES</h3>
                    <p>English</p>
                    <p>Band 5.5 IELTS</p>
                </div>
                <div class="hobby">
                    <h3 class="title">HOBBIES AND INTERESTS</h3>
                    <p>Programming, reading books, playing sports,...</p>
                </div>
                <div class="references">
                    <h3 class="title">REFERENCES</h3>
                    <p><strong>Nguyen Duc Man Ph.D</strong></p>
                    <p>Vice-Dean of International School at Duy Tan University</p>
                    <p><i class="fa-solid fa-envelope icon"></i>mannd@duytan.edu.vn</p>
                    <p><i class="fa-solid fa-phone icon"></i>+84 236 3827 111</p>
                </div>
            </div>
            <div class="right-part">
                <div class="profile-overall">
                    <h3 class="title">ABOUT ME</h3>
                    <p>I am a senior student majoring in Software Engineering. Proficient in Java and Spring
                        Framework, I have hands-on experience in creating scalable web applications. With a
                        solid grasp of software development life cycles and strong problem-solving skills, I am
                        eager to contribute to innovative projects and continuously expand my knowledge in the
                        field.</p>
                </div>
                <div class="work-experiences">
                    <h3 class="title">WORK EXPERIENCES</h3>
                    <div class="experience_detail">
                        <h3><strong>Java Back-end Developer</strong></h3>
                        <p>Duy Tan University | 2021-present</p>
                        <p><strong>Main duties performed:</strong>Programming flexible websites and mobile applications
                            according to project requirements. Optimizing application performance and
                            responsiveness through code and system optimizations</p>
                    </div>
                    <div class="experience_detail">
                        <h3><strong>Freelancer</strong></h3>
                        <p>Duy Tan University | 2022-2023</p>
                        <p><strong>Main duties performed:</strong> Working for internet projects according to customer
                            needs.
                            Coding front-end for client</p>
                    </div>
                </div>
                <div class="education">
                    <h3 class="title">EDUCATION</h3>
                    <div>
                        <p><strong>Duy Tan University</strong></p>
                        <p>Bachelor of Software Engineering | 2021-2025</p>
                        <p>Grade: 3.2 GPA</p>
                    </div>
                    <div>
                        <p><strong>Store Listing Certificate</strong></p>
                        <p>Google Play Academy | 2024-2027</p>
                    </div>

                </div>
                <div class="project">
                    <h3 class="title">PROJECTS</h3>
                    <div class="project-detail pd1">
                        <h3><strong>FIMS Project (Mobile Shop Website)</strong></h3>
                        <p class="time-working-project">01/2024 - 02/2024</p>
                        <ul>
                            <li><strong>Description:</strong>The project is developed based on a Java technology
                                application that
                                allows administrators to manage tables, inventory and sales statistics</li>
                            <li><strong>Role:</strong> Back-end Developer.</li>
                            <li><strong>Skills used:</strong> JSP/Servlet, MySQL, Bootstrap, HTML/CSS, JavaScript,...
                            </li>
                            <li><strong>Scope:</strong> 4 team members, 1 month.</li>
                        </ul>
                    </div>
                    <div class="project-detail pd2">
                        <h3><strong>Face recognition and authentification project</strong></h3>
                        <p class="time-working-project">07/2024 - 08/2024</p>
                        <ul>
                            <li><strong>Description:</strong> The research uses cutting-edge computer vision techniques
                                to identify
                                and locate faces in pictures or streaming video. Users can be authenticated by the
                                system using their face features.</li>
                            <li><strong>Role:</strong> Project Manager and Developer.</li>
                            <li><strong>Skills used:</strong> Python, Deep Learning</li>
                            <li><strong>Scope:</strong> 3 team members, 1 month.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>